@using Umbraco.Cms.Core.Models
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
    Layout = "Master.cshtml";
    var homePage = Model as Umbraco.Cms.Web.Common.PublishedModels.HomePage;



    var servicesList = homePage.Services;
    foreach (var service in servicesList)
    {
        var serviceContent = service.Content as BasicInfo;
        var serviceTitle = serviceContent.Title;
        var serviceIcon = serviceContent.Icon;
        var serviceData = serviceContent.Data;

    }

    var stateItemsList = homePage.StateItems;

    var clientsImages = homePage.ClientsImages;

    var OfferedServicesList = homePage.OfferedServices;

    var testimonialsList = homePage.Testimonials;

    var ContactInfoList = homePage.ContactInfo!;

    #region Sections Titles
    var productTitles = homePage.ProductTitle.FirstOrDefault().Content as Titles;
    var aboutTitle = homePage.AboutTitle.FirstOrDefault().Content as Titles;
    var servicesTitle = homePage.ServicesTitle.FirstOrDefault().Content as Titles;
    var contactTitle = homePage.ContactTitle.FirstOrDefault().Content as Titles;
    #endregion

    #region More About Us
    var moreTitles = homePage.MoreTitles.FirstOrDefault().Content as Titles;
    var moreDetailsList = homePage.MoreDetails;
    #endregion
}

<main class="main">

    @await Html.PartialAsync("Sections/Hero")

    <!-- Featured Services Section -->
    <section id="featured-services" class="featured-services section">

        <div class="container">

            <div class="row gy-4">

                @{
                    var dataaos = 0;
                }
                @if (servicesList.Any())
                {
                    foreach (var service in servicesList)
                    {
                        dataaos = +100;
                        var serviceContent = service.Content as BasicInfo;
                        var url = serviceContent.Urls.FirstOrDefault();


                        <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="@dataaos">
                            <div class="service-item position-relative">
                                <div class="icon">
                                    <i class="bi @serviceContent.Icon icon"></i>
                                </div>
                                <h4><a href="@url" class="stretched-link" data-translate="our_expertise">@serviceContent.Title</a></h4>
                                <p>@serviceContent.Data</p>
                            </div>
                        </div>
                        <!-- End Service Item -->
                    }
                }
            </div>

        </div>

    </section><!-- /Featured Services Section -->
    @await Html.PartialAsync("Sections/Category_Products")

    <!-- About Section -->
    @if (moreDetailsList != null || moreDetailsList.Any())
    {
        <section id="about" class="about section light-background">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>@aboutTitle.Title1</h2>
                <p><span>@aboutTitle.Title2</span> <span class="description-title">@aboutTitle.Title3</span></p>
            </div><!-- End Section Title -->

            <div class="container">

                <div class="row gy-3">

                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                        <img src="assets/img/about.jpg" alt="" class="img-fluid">
                    </div>

                    <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                        <div class="about-content ps-0 ps-lg-3">
                            <h3>@moreTitles.Title1</h3>
                            <p class="fst-italic">
                                @moreTitles.Title2
                            </p>
                            <ul>
                                @foreach (var moreDetails in moreDetailsList)
                                {
                                    var moreDetailsContent = moreDetails.Content as BasicInfo;

                                    <li>
                                        <i class="bi @moreDetailsContent.Icon"></i>
                                        <div>
                                            <h4>@moreDetailsContent.Title</h4>
                                            <p>@moreDetailsContent.Data</p>
                                        </div>
                                    </li>
                                }
                            </ul>
                            <p>
                                @moreTitles.Title3;
                            </p>
                        </div>

                    </div>
                </div>

            </div>

        </section>

        <!-- /About Section -->
    }

    <!-- Stats Section -->
    @if (stateItemsList != null || stateItemsList.Any())
    {
        <section id="stats" class="stats section">
            <div class="container" data-aos="fade-up" data-aos-delay="100">
                <div class="row gy-4">
                    @foreach (var stateItem in stateItemsList)
                    {
                        var stateItemContent = stateItem.Content as BasicInfo;

                        <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
                            <i class="bi @stateItemContent.Icon"></i>
                            <div class="stats-item">
                                <span data-purecounter-start="0" data-purecounter-end="@stateItemContent.Data" data-purecounter-duration="1" class="purecounter"></span>
                                <p>@stateItemContent.Title</p>
                            </div>
                        </div>

                        <!-- End Stats Item -->
                    }
                </div>

        </section>

        <!-- /Stats Section -->
    }

    <!-- Clients Section -->
    @if (clientsImages != null || clientsImages.Any())
    {
        <section id="clients" class="clients section light-background">
            <div class="container">

                <div class="swiper init-swiper">
                    <script type="application/json" class="swiper-config">
                        {
                          "loop": true,
                          "speed": 600,
                          "autoplay": {
                            "delay": 5000
                          },
                          "slidesPerView": "auto",
                          "pagination": {
                            "el": ".swiper-pagination",
                            "type": "bullets",
                            "clickable": true
                          },
                          "breakpoints": {
                            "320": {
                              "slidesPerView": 2,
                              "spaceBetween": 40
                            },
                            "480": {
                              "slidesPerView": 3,
                              "spaceBetween": 60
                            },
                            "640": {
                              "slidesPerView": 4,
                              "spaceBetween": 80
                            },
                            "992": {
                              "slidesPerView": 6,
                              "spaceBetween": 120
                            }
                          }
                        }
                    </script>
                    <div class="swiper-wrapper align-items-center">
                        @foreach (var clientImage in clientsImages)
                        {
                            var clientImageContent = clientImage.Content as Image;
                            var clientImageURL = clientImageContent.UmbracoFile;

                            <div class="swiper-slide"><img src="@clientImageURL" class="img-fluid" alt=""></div>
                        }
                    </div>

        </section>

        <!-- /Clients Section -->
    }

    <!-- Services Section -->
    @if (OfferedServicesList != null || OfferedServicesList.Any())
    {
        var delay = 0;
        <section id="services" class="services section">
            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>@servicesTitle.Title1</h2>
                <p><span>@servicesTitle.Title2</span> <span class="description-title">@servicesTitle.Title3</span></p>
            </div><!-- End Section Title -->


            <div class="container">

                <div class="row gy-4">
                    @foreach (var OfferedServices in OfferedServicesList)
                    {
                        var OfferedServicesContent = OfferedServices.Content as BasicInfo;
                        delay += 100;
                        // get the url
                        var urls = OfferedServicesContent.Urls;
                        var url = urls.Any() ? urls.FirstOrDefault().Url : "/";
                        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="@delay">
                            <div id="Service+@OfferedServicesContent.Key" class="service-item position-relative">
                                <div class="icon">
                                    <i class="bi @OfferedServicesContent.Icon"></i>
                                </div>
                                <a href="@url" class="stretched-link">
                                    <h3>@OfferedServicesContent.Title</h3>
                                </a>
                                <p>@OfferedServicesContent.Data</p>
                            </div>
                        </div>

                        <!-- End Service Item -->
                    }

                </div>

            </div>

        </section>

        <!-- /Services Section -->
    }

    <!-- Testimonials Section -->
    @if (testimonialsList != null && testimonialsList.Any())
    {
        <section id="testimonials" class="testimonials section dark-background" style="direction: ltr;">

            <img src="assets/img/testimonials-bg.jpg" class="testimonials-bg" alt="">

            <div class="container" data-aos="fade-up" data-aos-delay="100">

                <div class="swiper init-swiper">
                    <script type="application/json" class="swiper-config">
                        {
                          "loop": true,
                          "speed": 600,
                          "autoplay": {
                            "delay": 5000
                          },
                          "slidesPerView": "auto",
                          "pagination": {
                            "el": ".swiper-pagination",
                            "type": "bullets",
                            "clickable": true
                          }
                        }
                    </script>
                    <div class="swiper-wrapper">
                        @foreach (var testimonial in testimonialsList)
                        {
                            var testimonialContent = testimonial.Content as BasicInfo2;
                            if (testimonialContent != null)
                            {
                                var Images = testimonialContent.Urls;

                                var Image = Images.Any() ? Images.FirstOrDefault().Url : "/";

                                <div class="swiper-slide">
                                    <div class="testimonial-item">
                                        <img src="@Image" class="testimonial-img" alt="">
                                        <h3>@testimonialContent.Title</h3>
                                        <h4>@testimonialContent.Subtitle</h4>
                                        <div class="stars">
                                            @for (int i = 0; i < 5; i++)
                                            {
                                                <i class="bi bi-star-fill"></i>
                                            }
                                        </div>
                                        <p>
                                            <i class="bi bi-quote quote-icon-left"></i>
                                            <span>@testimonialContent.Data</span>
                                            <i class="bi bi-quote quote-icon-right"></i>
                                        </p>
                                    </div>
                                </div>

                                <!-- End testimonial item -->
                            }
                        }
                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>

        </section>
    }

    <!-- Contact Section -->
    @if (ContactInfoList != null || ContactInfoList.Any())
    {
        var delay = 100;
        <section id="contact" class="contact section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>@contactTitle.Title1</h2>
                <p><span>@contactTitle.Title2</span> <span class="description-title">@contactTitle.Title3</span></p>
            </div><!-- End Section Title -->

            <div class="container" data-aos="fade-up" data-aos-delay="@delay">

                <div class="row gy-4">

                    <div class="col-lg-5">
                        <div class="info-wrap">
                            @foreach (var contactInfo in ContactInfoList)
                            {
                                delay += 100;
                                var contactInfoContent = contactInfo.Content as BasicInfo;
                                var contactInfoTitle = contactInfoContent.Title;
                                var contactInfoIcon = contactInfoContent.Icon;
                                var contactInfoData = contactInfoContent.Data;

                                var urls = contactInfoContent.Urls;
                                var url = urls.Any() ? urls.FirstOrDefault().Url : "/";

                                <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
                                    <i class="bi @contactInfoIcon flex-shrink-0"></i>
                                    <div>
                                        <h3>@contactInfoTitle</h3>
                                        <a href="@url" target="_blank"><p>@contactInfoData</p></a>

                                    </div>
                                </div>

                                <!-- End Info Item -->
                            }
                        </div>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3623.645283189828!2d46.6554997!3d24.7331665!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2f1d50ce278cb7%3A0x47267e136f06e9dd!2sTaibah%20Markets!5e0!3m2!1sen!2ssa!4v1693033089387!5m2!1sen!2ssa" frameborder="0" style="border:0; width: 100%; height: 270px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>

                    <div class="col-lg-7">
                        <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
                            <div class="row gy-4">

                                <div class="col-md-6">
                                    <label for="name-field" class="pb-2" data-translate="your_name">Your Name</label>
                                    <input type="text" name="name" id="name-field" class="form-control" required="">
                                </div>

                                <div class="col-md-6">
                                    <label for="email-field" class="pb-2" data-translate="your_email">Your Email</label>
                                    <input type="email" class="form-control" name="email" id="email-field" required="">
                                </div>

                                <div class="col-md-12">
                                    <label for="subject-field" class="pb-2" data-translate="subject">Subject</label>
                                    <input type="text" class="form-control" name="subject" id="subject-field" required="">
                                </div>

                                <div class="col-md-12">
                                    <label for="message-field" class="pb-2" data-translate="message">Message</label>
                                    <textarea class="form-control" name="message" rows="10" id="message-field" required=""></textarea>
                                </div>

                                <div class="col-md-12 text-center">
                                    <div class="loading">Loading</div>
                                    <div class="error-message"></div>
                                    <div class="sent-message">Your message has been sent. Thank you!</div>

                                    <button type="submit" data-translate="send_message">Send Message</button>
                                </div>

                            </div>
                        </form>
                    </div><!-- End Contact Form -->

                </div>

            </div>

        </section>

        <!-- /Contact Section -->
    }
</main>
