@using Azure.Core
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
    Layout = null;

    #region Umbraco Language

    // Retrieve the current culture from the model

    var currentCulture = Context.Request.Query["culture"];
    if (string.IsNullOrEmpty(currentCulture))
    {
        currentCulture = "ar"; // Default to English or your preferred default culture
    }

    // var CurrentCulture = Request.RequestContent.["culture"]?.ToString() ?? Model.GetCultureFromDomains();
    // Context.Request.Query["culture"].ToString() ?? Model.GetCultureFromDomains();

    // Model.GetCultureFromDomains();

    // Determine the text direction based on the culture
    var CultureDirection = string.Equals(currentCulture, "ar", StringComparison.OrdinalIgnoreCase) ? "rtl" : "ltr";

    // Displayed language title
    var CurrentLanguage = string.Equals(currentCulture, "ar", StringComparison.OrdinalIgnoreCase) ? "العربية" : "English";

    #endregion

    #region Umbraco Content Models


    var homePage = Model as Umbraco.Cms.Web.Common.PublishedModels.HomePage;
    if (homePage == null) throw new InvalidOperationException("The model is not of type HomePage");

    var CompanyName = homePage.Value("companyName");

    // get umbraco model id


    var ContactInfoList = homePage.ContactInfo!;

    var modelId = ((Umbraco.Cms.Core.Models.PublishedContent.PublishedContentWrapped)Model).Id;

    if (ContactInfoList.Any())
    {
        foreach (var contactInfo in ContactInfoList)
        {
            var contactInfoContent = contactInfo.Content as BasicInfo;
            if (contactInfoContent == null) continue;
            var ContactTitle = contactInfoContent.Title;
            var ContactData = contactInfoContent.Data;
            var ContactIcon = contactInfoContent.Icon;
            var ContactUrlList = contactInfoContent.Urls!;
            var testval = ContactUrlList.Any() ? ContactUrlList.FirstOrDefault().Url : "/";
            if (ContactUrlList.Any())
            {
                foreach (var contactUrl in ContactUrlList)
                {
                    var ContactUrl = contactUrl.Url;
                }
            }
        };
    }
    var NavmenuList = homePage.Navmenu!;
    if (NavmenuList.Any())
    {
        foreach (var navmenu in NavmenuList)
        {
            var navmenuContent = navmenu.Content as BasicInfo;
            if (navmenuContent == null) continue;
            var NavMenuTitle = navmenuContent.Title;
            var NavMenuData = navmenuContent.Data;
            var NavMenuIcon = navmenuContent.Icon;
            var NavMenuUrlList = navmenuContent.Urls!;

            if (NavMenuUrlList.Any())
            {
                foreach (var navMenuUrl in NavMenuUrlList)
                {
                    var NavMenuUrl = navMenuUrl.Url;


                }
            }
        }
    }
    var catalogsTitle = homePage.MainCatalogsTitle;
    var links = homePage.MainCatalogs;
    var SocialMediaList = homePage.SocialMediaInfo;
    if (SocialMediaList.Any())
    {
        foreach (var socialMedia in SocialMediaList)
        {
            var socialMediaContent = socialMedia.Content as BasicInfo;
            if (socialMediaContent == null) continue;
            var SocialMediaTitle = socialMediaContent.Title;
            var SocialMediaData = socialMediaContent.Data;
            var SocialMediaIcon = socialMediaContent.Icon;
            var SocialMediaUrlList = socialMediaContent.Urls!;

            if (SocialMediaUrlList.Any())
            {
                foreach (var socialMediaUrl in SocialMediaUrlList)
                {
                    var SocialMediaUrl = socialMediaUrl.Url;
                }
            }
        }
    }
    #endregion

}

<!DOCTYPE html>
<html lang="@currentCulture">

<head>
    @await Html.PartialAsync("metadata")

    <!-- Favicons -->
    <link href="assets/img/RoshanOASIS.png" rel="icon">
    <link href="assets/img/RoshanOASIS.png" rel="apple-touch-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="assets/css/main.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: BizLand
    * Template URL: https://bootstrapmade.com/bizland-bootstrap-business-template/
    * Updated: Aug 07 2024 with Bootstrap v5.3.3
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body dir="@CultureDirection" class="index-page">
    <!-- Header Section -->
    @*     @await Html.PartialAsync("header")*@
    <header id="header" class="header sticky-top">

        <div class="topbar d-flex align-items-center">
            <div class="container d-flex justify-content-center justify-content-md-between">
                <div class="contact-info d-flex align-items-center">
                    @if (ContactInfoList.Any())
                    {
                        foreach (var contactInfo in ContactInfoList)
                        {
                            var contactInfoContent = contactInfo.Content as BasicInfo;
                            if (contactInfoContent == null) continue;

                            // Null-checking and URL assignment
                            var url = (contactInfoContent.Urls != null && contactInfoContent.Urls.Any())
                            ? contactInfoContent.Urls.FirstOrDefault()?.Url
                            : "/";

                            <a href="@url" target="_blank">
                                <i class="bi @contactInfoContent.Icon d-flex align-items-center ms-4">
                                    <span class="display-none">@contactInfoContent.Data</span>
                                </i>
                            </a>
                        }
                    }
                </div>
                <div class="social-links d-none d-md-flex align-items-center">
                    @if (SocialMediaList.Any())
                    {
                        foreach (var socialMedia in SocialMediaList)
                        {
                            var socialMediaContent = socialMedia.Content as BasicInfo;
                            if (socialMediaContent == null) continue;

                            // Null-checking and URL assignment
                            var url = (socialMediaContent.Urls != null && socialMediaContent.Urls.Any())
                            ? socialMediaContent.Urls.FirstOrDefault()?.Url
                            : "/";

                            <a target="_blank" href="@url" class="@socialMediaContent.Title">
                                <i class="bi @socialMediaContent.Icon"></i>
                            </a>
                        }
                    }
                </div>
            </div>
        </div><!-- End Top Bar -->

        <div class="branding d-flex align-items-cente">

            <div class="container position-relative d-flex align-items-center justify-content-between">
                <a href="/" class="logo d-flex align-items-center">
                    <!-- Uncomment the line below if you also wish to use an image logo -->
                    <img src="assets/img/RoshanOASIS.jpg" alt="CompanyLogo" style="height: auto;">
                    <h1 class="sitename">@CompanyName</h1>
                </a>

                @* @await Html.PartialAsync("navigation") *@
                @if (NavmenuList.Any())
                {
                    <nav id="navmenu" class="navmenu">
                        <ul>
                            @foreach (var navMenu in NavmenuList)
                            {
                                var navMenuContent = navMenu.Content as BasicInfo;
                                if (navMenuContent == null) continue;

                                // Null-checking and URL assignment
                                var url = (navMenuContent.Urls != null && navMenuContent.Urls.Any())
                                ? navMenuContent.Urls.FirstOrDefault()?.Url
                                : "/";

                                <li><a href="@url" class="@navMenuContent.Data">@navMenuContent.Title</a></li>
                            }

                            @if (links.Any())
                            {
                                <li class="dropdown">
                                    <a href="#">
                                        <span>@catalogsTitle</span>
                                        <i class="bi bi-chevron-down toggle-dropdown"></i>
                                    </a>
                                    <ul>
                                        @foreach (var link in links)
                                        {
                                            <li><a href="@link.Url" target="@link.Target">@link.Name</a></li>
                                        }
                                    </ul>
                                </li>
                            }

                            <!-- Language Switcher -->
                            <li class="dropdown">
                                <a href="#">
                                    <span>@CurrentLanguage</span>
                                    <i class="bi bi-chevron-down toggle-dropdown"></i>
                                </a>
                                <ul>
                                    @if(currentCulture == "en")
                                    {
                                        <li class="selected">
                                            <a href="#" onclick="setLanguage('en')">English</a>
                                        </li>
                                        <li>
                                            <a href="#" onclick="setLanguage('ar')">العربية</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a href="#" onclick="setLanguage('en')">English</a>
                                        </li>
                                        <li class="selected">
                                            <a href="#" onclick="setLanguage('ar')">العربية</a>
                                        </li>
                                    }

                                </ul>
                            </li>
                        </ul>
                        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
                    </nav>
                }



            </div>
        </div>

    </header> <!-- /Header Section -->
    @RenderBody()

    <!-- Footer Section -->
    @await Html.PartialAsync("footer", Model)

    <!-- Scroll Top -->
    @await Html.PartialAsync("scrolltop")

    <!-- Whatsapp Icon -->
    @await Html.PartialAsync("floatingwhatsappIcon", Model)


    <!-- Vendor JS Files -->
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>

    <!-- Main JS File -->
    <script src="assets/js/main.js"></script>

    <!-- Language Switcher Script -->
    <script>
        // make function that reload the url put after adding the CurrentCulture to the url
        function setLanguage(lang) {
            // check if there is a language in the url
            if (window.location.href.includes("/en") || window.location.href.includes("/ar")) {
                // replace the language in the url with the new language
                window.location.href = window.location.href.replace(/\/(en|ar)/, `/${lang}`);
            }
            else {
                // add the language to the url
                window.location.href = `/@modelId?culture=${lang}`;
                setDir(lang);
            }
        }
        function getLanguage() {
            return "@currentCulture";
        }
        function setDir(lang) {
            document.body.dir = lang === 'ar' ? 'rtl' : 'ltr';
        }
        document.addEventListener("DOMContentLoaded", () => {
            let lang = getLanguage();

        });

    </script>

</body>

</html>